/* COLOR PALETTE
  #fff5f0 beige
  #bea6a0 light brown
  #b3867b dark brown
  #e76b50 orange
*/

button {
  background-color: #e76b50;
  border: 1px outset #b3867b;
}

button:hover {
  border: 1px inset #b3867b;
  cursor: pointer;
}
